@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    background-color: #141414;
    font-family: 'Inter', sans-serif;
    color: white;
}

main {
    background-color: #1F1F1F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: white;
    width: 800px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    max-width: 390px;
    border-radius: 14px;
}

h1 {
    color: white;
    font-weight: 600;
}

.profile-image {
    border-radius: 100px;
    width: auto;
    height: 100px;
}

.location {
    color: #C4F82A;
    font-weight: 600;
    padding-bottom: 13px;
}

p {
    padding-bottom: 15px;
}

button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #333333;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: None;
    cursor: pointer;
    margin-bottom: 7px
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button:active {
    transform: scale(0.95);
    background-color: #C4F82A;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    color: #141414;
}